.bds-not-found-container {
    padding: 0 20px;
    margin-top: 20px;
}

.bds-not-found-container h1 {
    font-size: 24px;
}


@media (min-width:1280px) {
    .bds-not-found-container {
        padding: 0 160px;
    }
}