.bds-about-container {
    padding: 0 20px;
    margin-top: 20px;
}

.bds-about-container h1 {
    font-size: 24px;
}


@media (min-width:1280px) {
    .bds-about-container {
        padding: 0 160px;
    }
}